.homewrapper {
  background-color: black;
  color: white;
  height: 100vh;
}

.left-sidebar {
  background-color: black;
  width: 25%;
  display: flex;
}

.right-sidebar {
  background-color: gray;
  width: 25%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.middle-section {
  width: 50%;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  border-left: 1px solid white;
  border-right: 1px solid white;

  /* justify-content: left; */
  /* align-items: left; */
}

@media only screen and (max-width: 950px) {
  .right-sidebar {
    background-color: red;
    display: none;
  }
  .left-sidebar {
    background-color: black;
    width: 25%;
  }

  .middle-section {
    width: 75%;
  }
}

.profilewrapper {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}

.leftprofileinner {
  display: flex;
  flex-direction: row;
}
.profileimg {
  border: 1px solid white;
  background-image: url("../images/default-img.jpeg");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottomleftsidebar {
  border-top: 1px solid white;
  display: inline-block;
  align-self: flex-end;
  width: 100%;
  padding: 5px;
}

.right-sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* display: none; */
}

.news-wrapper {
  border-bottom: 1px solid white;
  height: 50%;
  overflow-y: auto;
  background-color: black;
}

.friends-who-to-follow-wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.newtweetwrapper {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: black;
}

.newtweettitle {
  text-align: left;
  padding-bottom: 5px;
}
.newtweettextfield {
  width: 100%;
}
.newtweetbottomwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.newtweetbtn {
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.profileusername {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}
.alltweetwrapper {
  overflow-y: auto;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.article-wrapper {
  padding: 10px;
  font-size: 10pt;
}
.article-title {
  font-weight: bold;
  text-align: justify;
  color: black;
}

.article-text {
  text-align: justify;
}

.userstofollow {
  /* border-top: 1px solid black; */
  text-align: left;
}

.usersyouarefollowing {
  text-align: left;
}

.individualuseryouarefollowing {
  padding: 10px;
}
.followingtitle {
  padding: 5px;
}

.profilelogout {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-size: 10pt;
}

.profilelogout:hover {
  color: red;
}

.followuserindividualwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  /* background-color: white; */

  font-size: 14pt;
}

.followuserplussign {
  padding: 5px;
  font-size: 14pt;
  width: fit-content;
  margin: 0;
}
.alltweettitle {
  padding: 10px;
  background-color: black;
}
.individualtweetwrapper {
  background-color: black;
  color: white;
  border-bottom: 1px solid white;

  text-align: left;
  padding: 10px;
  font-size: 12pt;
}

.individualtweettext {
  font-weight: bold;
  padding: 5px;
}

.individualtweetauthor {
  font-size: 12pt;
  padding: 5px;
}

.individualtweetlikes {
  font-size: 10pt;
  text-align: right;
}

.whotofollowwrapper {
  overflow-y: auto;
  height: 50%;
  border-top: 5px solid black;
}

.followingwrapper {
  overflow-y: auto;
  height: 50%;
}

.whotofollowtitle {
  padding: 5px;
  text-align: center;
}
.userstofollow {
}

.followuserindividualwrapper {
  font-size: 12pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-left-button {
  padding: 15px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.home-left-button:hover {
  padding: 15px;
  background-color: white;
  color: black;
}

.notifications-left-button {
  padding: 15px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.notifications-left-button:hover {
  background-color: white;
  color: black;
}
@media only screen and (max-width: 950px) {
  .profileusername {
    height: 40px;
    line-height: 40px;
    display: none;
  }
}
